@import "../../include";

.container {
    position : absolute;
    display  : block;
    width    : 100%;
    height   : 100%;

    h1 {
        font-size   : 120px;
        text-align  : center;
        font-weight : 300;
        color       : #9c27b0;
        text-shadow : 1px 1px 2px #000000, 0 0 1px #000000, 1px 1px 8px rgba(0, 0, 0, .5);
        transition  : .3s ease font-size;
        @include no-select();

        @media #{$small-and-down} {
            font-size : 70px;
        }

        @media #{$medium-height-and-down} {
            font-size : 90px;
            font-size : 18vmin;
        }

        @media #{$small-height-and-down} {
            font-size  : 80px;
            margin-top : 8px;
        }

    }

    .index-container {
        $border-radius : 8px;

        width      : 80%;
        max-width  : 600px;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        font-size  : 70px;
        padding    : 1.2em .2em;
        transform  : translate(-50%, -50%);
        transition : .3s ease top;

        @media #{$small-and-down} {
            font-size : 50px;
        }

        @media #{$medium-height-and-down} {
            top : 60%;
        }

        @media #{$small-height-and-down} {
            top : 70%;
        }

        form {
            border-radius : $border-radius;
            box-shadow    : 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        .input-container {
            $top : .2em;

            position : relative;

            input {
                display    : block;
                width      : 100%;
                padding    : #{$top} 0;
                text-align : center;
                border     : none;
            }

            label {
                $small-font : .9em;

                position       : absolute;
                pointer-events : none;
                left           : .25em;
                top            : $top;
                color          : $main-bg;
                transition     : .15s ease top, .15s ease left, .15s ease color;

                @media #{$small-height-and-down} {
                    top       : #{$top / $small-font}em;
                    font-size : 90%;
                }

            }

            input[type=number] {
                border-radius : #{$border-radius} #{$border-radius} 0 0;

                &:focus,
                &:valid {

                    & ~ label {
                        top   : -1.1em;
                        left  : -.05em;
                        color : $main-text;
                    }

                }

            }

            input[type=submit] {
                background-color : $main-colour;
                color            : $main-text;
                font-size        : .69em;
                cursor           : pointer;
                border-radius    : 0 0 #{$border-radius} #{$border-radius};

                &:hover {
                    background-color : darken($main-colour, 10%);
                }

            }

        }

    }

}
